.carouselWrapper {
  position: relative;

  .slideImage {
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: left !important;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
      color: var(--white);

      h2,
      h4 {
        font-weight: 900;
        text-transform: uppercase;
      }

      h2 {
        font-size: 2.875rem;
        margin-top: -4rem;
      }

      h4 {
        font-size: 4.37rem;
        color: var(--blue);
      }

      span {
        font-size: 1.75rem;
        margin-left: -1rem;
      }

      p {
        font-size: 1rem;
        max-width: 26.25rem;
        line-height: 1.562rem;
        float: right;
        text-align: right;
        font-weight: 400;
        margin-top: 2rem;
      }
    }
  }

  .carouselControllerWrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    font: 400 0.875rem roboto, sans-serif;
    color: var(--white);

    div {
      display: flex;
    }

    .title {
      width: 3.937rem;
      height: 18.75rem;

      background: var(--blue);
      padding: 1.2rem 0;
      gap: 1.2rem;

      text-transform: uppercase;
      writing-mode: vertical-lr;
      text-orientation: mixed;

      align-items: center;
      justify-content: flex-start;

      span {
        width: 1px;
        flex: 1;
        background: var(--white);

        margin-top: auto;
      }
    }

    .controls {
      width: 3.937rem;
      height: 5.25rem;

      background: var(--dark-blue);
      border-radius: 0 0 0 0.5rem;

      padding: 1.8rem 0 1.2rem 0;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      div {
        margin-top: 0.2rem;
      }

      button {
        border: none;
        background: none;
        color: var(--white);

        font-size: 1.4rem;

        &:not(:disabled):hover {
          filter: brightness(0.75);
        }

        &:disabled {
          opacity: 0.4;
          cursor: default;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

// Daqui para baixo são regras exclusivas para responsividade
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
  .carouselWrapper {
    .slideImage {
      div {
        h2 {
          margin-top: 2rem;
          font-size: 2.2rem;
        }

        h4 {
          font-size: 3.37rem;
        }

        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-device-width: 1024px) {
  .carouselWrapper {
    .slideImage {
      div {
        max-width: 100%;
        justify-content: flex-end;
        padding-bottom: 0;

        .overlayMobile {
          height: auto;
          width: 100%;
          padding: 1rem 1rem;
          background: rgba(0, 0, 0, 65%);

          h2 {
            margin-top: 0;
          }
        }

        p {
          margin-top: 0;
        }
      }
    }

    .carouselControllerWrapper {
      position: static;
      transform: translate(0, 0);
      display: flex;

      .title {
        flex: 6;
        height: auto;
        padding: 0 1.2rem;
        writing-mode: horizontal-tb;
        border-radius: 0 0 0 0.5rem;

        span {
          width: 100%;
          height: 1px;

          margin-left: auto;
          margin-top: 0;
        }
      }

      .controls {
        flex: 1;
        flex-direction: row;
        border-radius: 0;
        gap: 0.6rem;
        height: 3.25rem;
        padding: 0;
      }
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 768px) {
  .carouselWrapper {
    li {
      padding-bottom: 50.875% !important;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 767px) {
  .carouselWrapper {
    .carouselControllerWrapper {
      .title {
        flex: 2;
      }
    }
  }
}

@media only screen and (max-device-width: 420px) {
  .carouselWrapper {
    .slideImage {
      div {
        h2 {
          font-size: 1.2rem;
        }

        h4 {
          font-size: 2.37rem;
        }

        span {
          font-size: 0.875rem;
        }
      }
    }
  }
}
