.middleBannerContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  transform: translate(0, -30%);

  .middleBannerWrapper {
    display: flex;
    overflow: hidden;
    flex: 1;

    img {
      max-height: 25rem;
      width: auto;
      height: auto;
    }
  }
}
