.homeWrapper {
  section + section {
    transform: translate(0, -7rem);
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.middleBannerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  .middleBannerWrapper {
    object-fit: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;

    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover;
    }

    .gameTitle {
      display: flex;
      gap: 1.2rem;
      align-items: center;
      justify-content: flex-start;

      background: var(--blue);
      border-left: 0.6rem solid var(--dark-blue);
      padding: 0.9rem;
      color: var(--dark-blue);
      font-weight: 700;
      font-size: 1rem;

      border-radius: 0 0 0.3rem 0.3rem;

      span {
        height: 1px;
        flex: 1;
        background: var(--dark-blue);

        margin-left: auto;
      }
    }
  }
}

.gameTipsContainer {
  .selectWrapper {
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;

    .spinner {
      font-size: 1.6rem;
      color: var(--dark-blue);
      animation: spin infinite 5s linear;
    }

    h2 {
      margin-bottom: 0;
    }

    .selectField {
      width: 15.625rem;

      div {
        color: var(--black);
        border-color: var(--dark-blue);
      }

      svg {
        color: var(--dark-blue);
      }

      span {
        width: 0;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      padding: 0.6rem;
      flex-basis: 100%;

      @media (min-width: 40rem) {
        flex-basis: 50%;
      }

      @media (min-width: 56rem) {
        flex-basis: 25%;
      }

      .card {
        .cardImage {
          position: relative;

          .tipNumber {
            position: absolute;
            top: 0;
            right: 4%;

            background: var(--blue);
            border: 2px solid var(--dark-blue);
            border-radius: 0.312rem;

            font-weight: 900;
            font-size: 2.25rem;
            padding: 0.4rem 1rem;

            transform: translate(0, -50%);
            overflow: visible !important;

            @supports (-webkit-text-stroke: 2px var(--dark-blue)) {
              span {
                -webkit-text-stroke: 2px var(--dark-blue);
                -webkit-text-fill-color: var(--white);
              }
            }
          }

          img {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

// a partir daqui css responsivo
/* Desktops and laptops ----------- */
@media only screen and (max-width: 1224px) {
  .homeWrapper {
    section + section {
      transform: translate(0, 0);
      margin-bottom: 4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .middleBannerContainer {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (min-device-width: 896px) and (max-device-width: 1224px) {
  .gameTipsContainer {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-device-width: 895px) {
  .gameTipsContainer {
    ul {
      li {
        margin-bottom: 2rem;
        justify-content: center;
      }
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .homeWrapper {
    .middleBannerContainer {
      .middleBannerWrapper {
        flex: 0 1 auto;

        div {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 640px) {
  .gameTipsContainer {
    .selectWrapper {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .selectField {
        width: 100%;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
