.headerContainer {
  background: transparent;
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  color: var(--white);
  font-size: 1.6rem;

  span {
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;

    border-right: 1px solid var(--white);

    padding: 0 2rem 0 0.5rem;
    margin-right: 2rem;
  }

  div {
    background-color: var(--blue);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.4rem;
    height: 1.4rem;
    margin-left: 0.15rem;

    text-align: center;
    font: 900 0.775rem Roboto, sans-serif;
  }

  img {
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    padding-left: 2.5rem;
  }

  .searchIcon {
    transform: scaleX(-1);
  }
}
